{% # theme-check-disable %}
<div role="alert" style="position : absolute; top: 50px; right : 10px;display : none" class="alert" id="pet-toast">
  <div class="toast-body" id="pet-toast-body">
  </div>
</div>

<div class="loader-status" id="cloader">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="main-hero">
  <div class="content container">
    <div class="left">
      <div class="welcome">
        <p class="welcome-message">Welcome,{{ customer.name }} 
        {% comment %} <span id="userName"></span> {% endcomment %}
      </p>
      </div>
    </div>
    <div class="right">
      <div class="select">
        <select class="form-select" aria-label="Default select example" id="petSelect" onchange="handleSelectChange(this)">
        </select>
        {% comment %} <button type="button" class="btn btn-primary addReport"  id="AddNewPet">
          Add New Pet
        </button>{% endcomment %}
        <button type="button" class="btn btn-primary addReport" id="addReportModalBtn">
          Add Report
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Add New Pet Modal -->
{% comment %} <div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="addReportLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addReportLabel">Add New Pet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="petName" class="form-label">Pet Name</label>
          {% comment %} {%raw%} page.metafields.custom.pet_name.value {%endraw%} {% endcomment %}
          <input type="text" class="form-control" id="petName" data-pet-name="{{ page.metafields.custom.pet_name.value.name | escape }}">
          {{page.metafields.custom.pet_name.value.name }}
        </div>
        <div class="mb-3">
          <label for="petImage" class="form-label">Pet Image</label>
          <input type="file" class="form-control" id="petImageInput" accept="image/*">
          <img src="" alt="Pet Image" id="petImagePreview" style="max-width: 100%; display: none;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="addPet()">Add Pet</button>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% comment %} updated with metafield entry {% endcomment %}
<div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="addReportLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addReportLabel">Add New Pet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="petName" class="form-label">Pet Name</label>
          <input type="text" class="form-control" id="petName" value="{{ page.metafields.custom.pet_name.value.name | escape }}">
        </div>
        <div class="mb-3">
          <label for="yob" class="form-label">Year of Birth</label>
          <input type="text" class="form-control" id="yob" value="{{ page.metafields.custom.pet_name.value.yob | escape }}">
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Pet Species</label>
          <select class="form-select" aria-label="Pet Species" id="type">
            <option selected disabled>Select</option>
            <option id="Dog">Dog</option>
            <option id="Cat">Cat</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="petImage" class="form-label">Pet Image</label>
          <input type="file" class="form-control" id="petImage" placeholder="Enter Pet Image URL" multiple>
          <img src="{{ page.metafields.custom.pet_image.value.image_url | escape }}" alt="Pet Image" id="petImagePreview" style="max-width: 100%;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addPetOn">Add Pet</button>
      </div>
    </div>
  </div>
</div>


<!-- Add Report Modal -->
<div class="modal fade" id="addReportModal" tabindex="-1" aria-labelledby="addReportLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addReportLabel">Search Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class= "modal-body">
        <p class="modal-text-p">Please enter the report ID below to list your pet's report</p>
        <input class="form-control form-control-sm" type="text" id="addReportSearch">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addReportToPet">Save changes</button>
      </div>
    </div>
  </div>
</div>
 

<div class="all-report" id="all-report">
  
</div>

<script>
  //update select dropdown
  // window.onload=function(){

  function constructSelectMenu(){
    let petInfoEncodedString = {{ customer.metafields.custom.pet_info.value | json }};
    let petInfo = JSON.parse(decodeURIComponent(petInfoEncodedString)) || [];
    console.log({petInfo})
    let options=['<option value="" selected>Select</option>'];
  
    for(let i=0;i<petInfo.length;i++){
      let option=`<option value='${petInfo[i].id}'>${petInfo[i].name}</option>`;
      options.push(option);
    }
    options.push(`<option class="btn btn-primary" id="AddNewPet">Add New Pet</option>`);
    console.log(document.getElementById("petSelect"))
    document.getElementById("petSelect").innerHTML=options.join("\n")
  }

  constructSelectMenu();

  let addPetBtn=document.getElementById("AddNewPet");
  addPetBtn.addEventListener("click",()=>{
     $('#addPetModal').modal('show');
  })
  
  let addReportModalBt=document.getElementById("addReportModalBtn");
  addReportModalBt.addEventListener("click",()=>{
    let pet_id = document.getElementById("petSelect").value;
    let url = new URLSearchParams(window.location.search);
    let report_id= url.get('report_id')

    console.log({petIdoNmODAL:pet_id})
    if (!pet_id){
      $("#pet-toast-body").text('Please select a pet')
      $("#pet-toast").addClass(`alert-danger`);
      $("#pet-toast").css({display : "inline-block"})
      setTimeout(() => {
        $("#pet-toast").removeClass(`alert-danger`);
      $("#pet-toast").css({display : "none"})
      }, 5000)
      return 
    }else{
      console.log({report_id})
      if(report_id){
        console.log({ImInside: report_id})
        return addReports(report_id);
      }
      $('#addReportModal').modal('show');
    }
  })

</script> 

{% schema %}
{
  "name": "Pets Dashboard",
  "target": "section",
  "stylesheet": "pets.css",
  "javascript": "functions.js",
  "settings": []
}
{% endschema %}