{% # theme-check-disable %}


{% schema %}
{
  "name": "Summary Section",
  "target": "section",
  "stylesheet": "summary.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}


{% comment %} <div>
  <img src="{{ "Ellipse 5.png" | asset_img_url: '1515x' }}" id="imageE" style="width: 100%;" height="300" width="100" loading="lazy">

  <div class="container-xxl">
    <div class="row box1">
      <div class="col-md-2 col-sm-12">
        <img src="{{ "SL-011023-55240-17 [Converted] 1.png" | asset_img_url: '515x' }}" id="profile-C" height="100" width="100" loading="lazy">
        <div class="profile-name">
          <h1>Lomi’s Report</h1>
          <p>Beta report disclaimer</p>
        </div>
      </div>
  
      <div class="col-md-8 col-sm-12">
        <div class="summary-text">
          <img src="{{ "Group 10.png" | asset_img_url: '515x' }}" height="25" width="25" loading="lazy">
          <h1>Summary</h1>
          <p>We have evaluated Lomi’s vitamin, mineral, and metabolite (compounds) profile and found that he is within the normal range for of the compounds.
          Lomi’s has the lowest values in Adenosine, Cytidine, and Orotic acid. He has the highest values in Citric acid, Purine, and Uridine. Together these compounds have been associated with kidney disease, immune system, and joint disease. Lomi’s nutritional profile resembles that of a young dog that has an active lifestyle being fed with a premium diet.
        </p>
      </div>
      </div>
  
      <div class="col-md-2 col-sm-12 d-none d-md-block">
        <img src="{{ "v1051-54 [Converted] 1.png" | asset_img_url: '515x' }}" height="100" width="100" loading="lazy">
      </div>
      
    </div>
  </div>
  
</div> {% endcomment %}

<div style="background-image : url('{{ "Ellipse 5.png" | asset_img_url: "1515x" }}');padding-top : 60px; background-repeat : no-repeat; background-size : cover;background-position-y : -185px">
  {% comment %} <img src="{{ "Ellipse 5.png" | asset_img_url: '1515x' }}" id="imageE" style="width: 100%;" height="300" width="100" loading="lazy"> {% endcomment %}
  
  <div class="container-xxl">
    <div class="row box1">
      <div class="col-md-3 col-sm-12 image">
        <div class="profile-container" style="display : flex;justify-content : center">
          <div id="profile-C" style="height : 100px;width : 100px;background-position:center; background-size : cover"></div>
        </div>
        {% comment %} <img src="" id="profile-C" height="100" width="100" loading="lazy"> {% endcomment %}
        <div class="profile-name">
          <h3></h3>
          <p class="button-S"></p>
        </div>
      </div>
  
      <div class="col-md-6 col-sm-12">
        <div class="summary-text">
          <div class="summary-header">
            <img src="{{ "Group 10.png" | asset_img_url: '515x' }}" height="25" width="25" loading="lazy">
          <h1>Summary</h1>
          </div>
          <p></p>
        </div>
      </div>
  
      <div class="col-md-3 col-sm-12 d-none d-md-block image-dog">
        <img src="{{ "v1051-54 [Converted] 1.png" | asset_img_url: '515x' }}"  width="120" loading="lazy">
      </div>
    </div>
  </div>
</div>
   
