{% # theme-check-disable %}

{% schema %}
{
  "name": "Wellness Page Header",
  "target": "section",
  "stylesheet": "summary.css",
  "javascript": "cancer.js",
  "settings": []
}
{% endschema %}
<style>
  .box{
    margin: 20px 0px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 2px #FE755A26;
  }

  .text-heading {
  transform: translate(-14px, 2px);
  color: #FE755A !important;
}

</style>

<div class="height" style="background-image : url('{{ "Ellipse 5.png" | asset_img_url : "1515x" }}');background-repeat : no-repeat; background-size : cover;background-position-y : -240px;padding-top :100px">
  {% comment %} <img
    src="{{ "Ellipse 5.png" | asset_img_url: '1515x' }}"
    id="imageE"
    style="width: 100%;"
    height="300"
    width="100"
    loading="lazy"
  > {% endcomment %}

{% comment %} Header {% endcomment %}
  <div class="container-xxl">
    <div class="box1" style="display :flex; justify-content : space-between;">
      <div>
        <h3>Cancer Risk</h3>
        <span class="circle"><p>Normal</p></span>
      </div>
      <div>
        <img src="{{ "v1051-54 [Converted] 1.png" | asset_img_url: '515x' }}" height="200" width="151" loading="lazy">
      </div>
    </div>
  </div>
</div>
{% comment %} Header end {% endcomment %}

{% comment %} Chart {% endcomment %}
<div class="container-xxl">
    <div class="box">
        <h3 class="text-heading">
            <span> <img src="{{ "Group 10.png" | asset_img_url: '515x' }}" height="25" width="25" loading="lazy"></span>
            Where Lomi Stands
          </h3>
        <div class="chart">
            <canvas id="myChart">
            </canvas>
        </div>
          


    </div>
</div>

{% comment %} Chart end {% endcomment %}

{% comment %} Background {% endcomment %}
<div class="container-xxl">
  <div class="box">
    <h3 class="text-heading">
      <span> <img src="{{ "Group 10.png" | asset_img_url: '515x' }}" height="25" width="25" loading="lazy"></span>
      Background
    </h3>
    <p class="pt-3">
      In order to get Lomi’s compound profile closer to that of another dog around his approximate age we recommend
      considering diets that leads to an increase in Adenosine, Cytidine, and Orotic acid and decrease in Citric acid,
      Purine, and Uridine.
    </p>
  </div>
</div>

{% comment %} Background end {% endcomment %}

{% comment %} Recommendation Section {% endcomment %}
<div class="container-xxl">
  <div class="box">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <h3 class="text-heading">
          <span> <img src="{{ "Group 10.png" | asset_img_url: '515x' }}" height="25" width="25" loading="lazy"></span>
          Recommendations
        </h3>
        <p class="pt-3">
          In order to get Lomi’s compound profile closer to that of another dog around his approximate age we recommend
          considering diets that leads to an increase in Adenosine, Cytidine, and Orotic acid and decrease in Citric
          acid, Purine, and Uridine.
        </p>
      </div>
      <div class="col-md-2 col-sm-12">
        <img src="{{ "bottle.png" | asset_img_url: '515x' }}" height="185" width="155" loading="lazy">
      </div>
    </div>
  </div>
</div>

{% comment %} Recommendation end {% endcomment %}
